.anim {
    //@extend %anim;
    
    transition: transform, opacity 1.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	
	will-change: transform, opacity;
	transition-duration: 500ms;
	
	&--bottom {
		opacity: 0;
		transform: matrix(1, 0, 0, 1, 0, -200);
       // transition-duration: 800ms;
		
		&.anim--loaded {
			opacity: 1;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}
	}

	&--fadein {
		opacity: 0;
		
		&.anim--loaded {
			opacity: 1;
		}
	}
	
	&--left {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
		
		
		&.anim--loaded {
			opacity: 1;
			transform: translate3d(0, 0, 0);
			//transform: translateX(0);
		}
	}
	
	&--right {
		opacity: 0;
		transform: translateX(50px);
		
		&.anim--loaded {
			opacity: 1;
			transform: translateX(0);
		}
	}
	
    &--delay1 {
	    transition-delay: 100ms;
	}
	
	&--delay2 {
	    transition-delay: 200ms;
	}
	
	&--delay3 {
	    transition-delay: 300ms;
	}
	
	&--delay4 {
	    transition-delay: 400ms;
	}
	
	&--delay5 {
	    transition-delay: 500ms;
	}
	
	&--delay6 {
	    transition-delay: 600ms;
	}
	
	&--delay7 {
	    transition-delay: 700ms;
	}
	
	&--grow {
    	input {
    	    @extend %anim;
        	transform-origin: left;
            transform: scaleX(0);
    	}
    	
    	textarea {
        	@extend %anim;
        	transform-origin: bottom;
        	transform: scaleY(0);
    	}
    	
    	&.anim--loaded {
    	    input {
            	transform: scaleX(1);
            }
            
            textarea {
            	transform: scaleY(1);
            }
    	}
	}
	
	&--scalein {
		transform: scale(.6) translateY(50px);
		opacity: 0;
		
		&.anim--loaded {
		    opacity: 1;
			transform: scale(1) translateY(0);;
		}
	}
	
	&--up {
		opacity: 0;
		transform: matrix(1, 0, 0, 1, 0, 100);
		
		&.anim--loaded {
			opacity: 1;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}
	}
	
	&--upBefore {
	    &:before { 
	        
	        display: inline-block;
    		opacity: 0;
    		transform: translateY(-50px);
		}
		
		&.anim--loaded {
		    &:before {
		        @extend %anim--medium;
		        transition-property: opacity;
		        transition-delay: 2000ms;
    			opacity: 1;
    			transform: translateY(0);
            }
		}
	}
}

.link {
	@extend %rel;
	display: inline-block;
	padding-bottom: 10px;
}

.link--kukuri {
	overflow: hidden;
}

.link--kukuri {
	
	.anim--loaded & {
	    transition-delay: 1.4s;
    	color: transparent;
	}
	
	&:before,
	&:after {
	    @extend %abs;
	}
}

.link--kukuri::after {
	content: '';
	height: 2px;
	width: 100%;
	top: 100%;
	margin-top: -2px;
	right: 0;
	background: $c-brown;

	transform: translate3d(-100%,0,0);
	transition: transform 0.4s;
    transition-delay: 2s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	
	.anim--loaded & {
	    transform: translate3d(0,0,0);
	}
}


.link--kukuri::before {
	content: attr(data-letters);
	z-index: 2;
	overflow: hidden;
	color: $c-brown;
	white-space: nowrap;
    width: 0%;
	transition: width 0.4s 0.3s;
}

.link--kukuri::before {
	//width: 100%;
	
	.anim--loaded & {
	    transition-delay: 1s;
	    width: 100%;
	}
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-480px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-480px);
    }
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



@keyframes pulse {
    0%   {
        background: white;
    }

    50% {
        background: #efefef;
    }
    
    100% {
        background: white;
    }
}

