[class^="icon-"], [class*=" icon-"] {
	@extend %icomoon;
}

.no-overflow {
    overflow: hidden;
}

.u-cols {
    @media screen and ( min-width: $tablet + 1px ) {
        column-count: 2;
        column-gap: 64px;
    }
}

.u-link { cursor: pointer;
    a {
        @extend %rel;
    
        &:after, &:before {
            @extend %abs;
            @extend %abs-after;
            left: 0;
            width: 100%;
            background-color: $c-blue;
            transform: scale3d(0, 1, 1);
        }
    
        &:before {
            bottom: -2px;
            height: 1px;
            transform-origin: right center;
            transition: transform;
            transition-duration: .5s;
            transition-delay: 0;
            transition-timing-function: cubic-bezier(.77,0, .175, 1);
        }

        &:after {
            top: 0;
        	height: 100%;
        }

        &:hover {
            &:before {                
                transform: scale3d(1, 1, 1);
                transform-origin: left center;
                transition-delay: 0;
            }
        }
    }
    
    &.current {
        a {
            &:before {
                transform: scale3d(1, 1, 1);
            }
        }
    }
    
    &--brown {
        a {
            &:after, &:before {
                background-color: $c-brown !important;
            }
        }
    }
    
    &--white {
        a {
            &:after, &:before {
                background-color: white !important;
            }
        }
    }
    
    &--fat {
        a {
            &:after, &:before {
                @media screen and ( min-width: $tablet + 1px ) {
                    height: 2px;
                }
                
            }
        }
    }
}

.u-nomargin {
    margin: 0 !important;
}

.u-shadows {
    border: {
        bottom: 1px solid rgba($c-blue, .2);
        right: 1px solid rgba($c-blue, .2);
    }
}


.view {
    @extend %ease-out;
    transform: translate3d(0, 100px, 0);
    transition-duration: 600ms;
    opacity: 0;
    
    &--1 {
        transition-delay: 600ms;
    }
    
    &--2 {
        transition-delay: 700ms;
    }
    
    &--3 {
        transition-delay: 800ms;
    }
    
    &--4 {
        transition-delay: 900ms;
    }
    
    &--5 {
        transition-delay: 1000ms;
    }
}

    .pace-done .mk {
        @extend %anim;
        z-index: 0 !important;
        opacity: 0;
    }

/*


.pace {
    &:after {
        @extend %abs;
        @extend %abs-xy;
        @extend %abs-after;
        left: 0; top: 0;
        z-index: 9999;
        width: 62px; height: 62px;
        background-image: url(../img/MK-Logo-white.gif);
        background-repeat: no-repeat;
        
    }
}
*/