.o-btn {
    @extend %anim;
    @extend %flex-xy;
    @extend %rel;
    display: inline-flex;
    text: {
        align: center;
        transform: uppercase;
        decoration: none !important;
    }
    font-size: rem(18);
    line-height: 1;
    color: white;
    
    @media screen and ( max-width: $smartphone_portrait + px ) {
       // font-size: rem(16);
    }
    
    @media screen and ( max-width: $base + px ) {
        font-size: get-vw-base(18);
    }
    
    @media screen and ( max-width: $wrap1 + px ) {
        font-size: get-vw-wrap1(18);
    }
    
    @media screen and ( max-width: $wrap2 + px ) {
        font-size: get-vw-wrap2(18);
    }
    
    @media screen and ( max-width: $wrap3 + px ) {
        font-size: get-vw-wrap3(18);
    }
    
    @media screen and ( max-width: $tablet + px ) {
        font-size: get-vw-tablet(18);
    }
    
    @media screen and ( max-width: $tablet_portrait + px ) {
        font-size: get-vw-tablet-portrait(18);
    }
    
    @media screen and ( max-width: $smartphone + px ) {
        font-size: get-vw-tablet-smartphone(18);
    }
    
    @media screen and ( max-width: $smartphone_portrait + px ) {
        font-size: get-vw-smartphone-portrait(18);
    }
    
    
    span {
        @extend %flex;
        @extend %flex-y;
        min-height: 64px;
        background-color: $c-brown;
        padding: 16px 40px;
        letter-spacing: 1px;
        line-height: 1.7;
        
        @media screen and ( max-width: $smartphone_portrait + px ) {
            min-height: 54px;
            padding: 10px 20px;
        }
        
    }
    
    &:after {
        @extend %abs;
        @extend %abs-after;
        @extend %anim;
        z-index: -1;
        left: 0; top: 0;        
        width: 100%; height: 100%;
        background-color: $c-brown;
        opacity: .8;
        visibility: hidden;
    }

    &:hover {
        &:after {
            visibility: visible;
            transform: translate3d(15px, 15px, 0);
            opacity: .15;
        }
    }

    &--white {
        span {
            background-color: white;
            color: $c-brown;
        }
    }
}

button {
    &.o-btn {
        span {
            @extend %flex;
            @extend %flex-xy;
        }
    }
}

.no-wrap {
    white-space: nowrap;
}