.icon-twitter:before {
  content: "\e915";
}
.icon-google:before {
  content: "\e916";
}
.icon-printer:before {
  content: "\e917";
}
.icon-envelope:before {
  content: "\e913";
}
.icon-lens:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e90c";
}
.icon-quote:before {
  content: "\e90b";
}
.icon-agriculture:before {
  content: "\e900";
}
.icon-arrow-1:before {
  content: "\e901";
}
.icon-arrow-2--down:before {
  content: "\e902";
}
.icon-arrow-2--left:before {
  content: "\e903";
}
.icon-arrow-2--right:before {
  content: "\e904";
}
.icon-arrow-2--up:before {
  content: "\e905";
}
.icon-chemicals:before {
  content: "\e906";
}
.icon-energy:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-finance:before {
  content: "\e909";
}
.icon-linkedin:before {
  content: "\e90a";
}
.icon-production:before {
  content: "\e90d";
}
.icon-products:before {
  content: "\e90e";
}
.icon-schoe:before {
  content: "\e90f";
}
.icon-technology:before {
  content: "\e910";
}
.icon-tie:before {
  content: "\e911";
}
.icon-transport:before {
  content: "\e912";
}
