.c-business {    
    padding: 0 0 100px 0;
    
    @media screen and ( max-width: $tablet + px ) {
        padding: 0 0 50px 0;
    }
    
    &__content {
        width: 100%;
        padding-left: 64px;
        
        @media screen and ( max-width: $base + px ) {
            width: 100%;
            padding-left: grid(64, 1120);
        }       
    }
    
    &__lead {
        margin-bottom: 40px;
        line-height: 1.4;
        text-transform: uppercase;
        font-size: rem(20);
        color: $c-brown;
        
        @media screen and ( max-width: $smartphone + px ) {
            br {
                display: none;
            }
        }
    }
    
    ul {
        margin-bottom: 40px;
    }
    
    li {
        font-size: rem(17);        
    }
    
    .o-btn {
        span {
            color: white;
        }
    }
    
    .o-content {
        padding: 70px 0;
        
        &__main,
        &__sidebar {
            @extend %rel;
        }

        &__main {            
            @media screen and ( min-width: $tablet_portrait + 1px ) {
                padding-right: 160px;
            }
        }        
    }
    
    .bcg {
        height: calc(100vh - 100px);
        background-image: url(../img/bg/business.jpg);
    }
}