.c-contact {

    .o-content {
    
        &__main {
            padding-bottom: 65px;
            
            @media screen and ( max-width: $base + px) {
                padding-bottom: get-vw-base(65);
            }
            
            @media screen and ( max-width: $wrap1 + px) {
                padding-bottom: get-vw-wrap1(65);
            }
            
            @media screen and ( max-width: $wrap2 + px) {
                padding-bottom: get-vw-wrap2(65);
            }
            
            @media screen and ( max-width: $wrap3 + px) {
                padding-bottom: get-vw-wrap3(65);
            }
            
            @media screen and ( max-width: $tablet + px) {
                padding-bottom: get-vw-tablet(65);
            }
            
            @media screen and ( max-width: $tablet_portrait + px) {
                padding-bottom: get-vw-tablet-portrait(65);
            }
            
            @media screen and ( max-width: $smartphone + px) {
                padding-bottom: get-vw-tablet-smartphone(65);
            }
            
            @media screen and ( max-width: $smartphone_portrait + px) {
                padding-bottom: get-vw-tablet-smartphone-portrait(65);
            }
            

            @media screen and ( min-width: $tablet + 1px ) {
                padding-top: 150px;
            }
        }
   
        &__sidebar {
            @media screen and ( max-width: $tablet + px ) {
                padding-left: 0;
            }
        }
        
        @media screen and ( max-width: $tablet_portrait + px) {
            padding-left: 40px;
        }
    }    
}