.c-newposts {
   // margin-bottom: 250px;
    
    .o-wrap {
        @extend %rel;
        overflow: hidden;
    }
    
    @media screen and ( max-width: $tablet_portrait + px ) {
        margin-bottom: 50px;
    }

    .o-content {
        //background-image: url(../img/bg/newposts.jpg);
        padding: {
            top: 210px;
            bottom: 100px;
        }
        
        &__main,
        &__sidebar {
            @extend %rel;
        }
        
        &__main {
            padding-right: 0;
        }
        
        @media screen and ( max-width: $tablet_portrait + px ) {
            padding: {
                top: 50px;
                bottom: 50px;
            }
        }
    }
    
    .o-header {        
        @media screen and ( min-width: $tablet_portrait + 1px ) {
            transform: translateY(-66%);
        }
    }
    
    .bcg {
        background-image: url(../img/bg/newposts.jpg);
    }
}

