.c-opinions {

    .bcg {
        display: none;
    }

    &--bg {
        
        @media screen and ( max-width: $tablet_portrait + px ) {
            margin-bottom: 50px;
        }

        .o-content {
            padding: 215px 0 100px 0;
            
            @media screen and ( max-width: $tablet_portrait + px ) {
                padding: 50px 0;
            }
        }
        
        .bcg {
            display: block;
        }
    }

    .o-content {
        padding: 70px 0 100px 0;

        &__main {
            
            @media screen and ( min-width: $tablet + 1px ) {
                padding-top: 100px;
            }
        }
        
        &__main,
        &__sidebar {
            @extend %rel;
        }
        
        &__sidebar {
                    
            @media screen and ( max-width: $smartphone_portrait + px) {
                padding-bottom: 0;
            }
        }
    }

    .bcg {
        background-image: url(../img/bg/opinions.jpg);
    }
    
    .swiper-pagination {
        @extend %flex;
        padding-left: 65px;
    }
    
    .swiper-pagination-bullet {
        display: block;
        width: 14px;
        height: 14px;
        background-color: $c-gray1;
        border-radius: 50%;
        margin-right: 15px;
        border: 2px solid $c-brown;
        cursor: pointer;
        
        &.swiper-pagination-bullet-active {
            background-color: $c-brown;
        }
    }
}