.c-team {
    margin-bottom: 70px;
    
    figure {
        @extend %rel;
        
        img {

            @media screen and ( max-width: $wrap3 + px ) {
                width: get-vw-wrap3(187);
            }
            
            @media screen and ( max-width: $tablet + px ) {
                width: get-vw-tablet(187);
            }
            
            @media screen and ( max-width: $smartphone + px ) {
                width: get-vw-smartphone(187);
            }
                    
            @media screen and ( max-width: $smartphone + px ) {
                margin-bottom: 20px;
            }
        }
        
        figcaption {
            color: $c-brown;
            
            @media screen and ( min-width: $smartphone + 1px ) {
                position: absolute;
            }
            
            p {
                margin: 0;
                line-height: 1.2;
                font-size: rem(26);
                white-space: nowrap;
                
                @media screen and ( max-width: $tablet_portrait + px ) {
                    font-size: rem(20);
                } 
                
                @media screen and ( max-width: $smartphone + px ) {
                    font-size: rem(14);
                } 
                
                & + p {
                    font-size: rem(16);
                    
                    @media screen and ( max-width: $tablet_portrait + px ) {
                        font-size: rem(14);
                    } 
                    
                    @media screen and ( max-width: $smartphone + px ) {
                        font-size: rem(10);
                    } 
                }
            }
        }
    }
    
    .c-article {
        text-align: justify;
        font-size: rem(17);
    }
    
    &__members {
        width: 960px;
        
        @media screen and ( max-width: $wrap2 + px ) {
            width: calc( 100% - 200px );
        }
        
        @media screen and ( max-width: $desktop + px ) {
            width: 100%;
        }
        
    }
    
    &__member {
        &:not(:last-of-type) {
            margin-bottom: 250px;
        }
        
        @media screen and ( max-width: $tablet_portrait + px ) {
            &:not(:last-of-type) {
                margin-bottom: 150px;
            }
        }
        
        &:nth-child(even) {
            figure {
                float: left;                
                padding: 0 40px 20px 0;
                
                @media screen and ( min-width: $smartphone + 1px ) {
                    margin-top: -90px;
                    padding: 0 20px 20px 0;
                }
            }
            
            figcaption {
                top: 10px;
                left: 100%;
            }
        }
        
        &:nth-child(odd) {
            figure {
                float: right;
                margin-top: -100px;
                padding: 0 0 20px 40px;
                
                @media screen and ( max-width: $smartphone + px ) {
                    padding: 0 0 20px 20px;
                }
            }        
                
            figcaption {
                top: 10px;
                right: 100%;
                text-align: right;
            }
        }
        
        &--primary {
            &:nth-child(odd) {
                figure {
                    margin-top: -150px;
                    padding-bottom: 40px;
                    
                    @media screen and ( min-width: $desktop + 1px ) {
                        margin-right: -200px;
                    }
                    
                    @media screen and ( max-width: $smartphone + px ) {
                        margin: 0;
                        
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end
                    }
        
                    figcaption {
                        top: 40px;
    
                        p {
                           // font-size: rem(28);                                         
                        }
                    }
                    
                    img {
                        @media screen and ( max-width: $wrap3 + px ) {
                            width: get-vw-wrap3(343);
                        }
                        
                        @media screen and ( max-width: $tablet + px ) {
                            width: get-vw-tablet(343);
                        }
                    }
                }
            }
        }
    }
    
    .o-content {
    
        &__main {
            @media screen and ( max-width: $desktop + px ) {
                padding-left: 40px;
            }
        }
    
        &__sidebar {
            width: 320px;
            
            @media screen and ( max-width: $wrap2 + px ) {
                width: grid(320, $wrap2);
            }
        }
    }
    
    .o-header {
        @media screen and ( min-width: $tablet_portrait + 1px ) {
            transform: translateY(-220%);        
        }
    }
}