.c-why {
    //overflow: visible !important;
    padding: 100px 0;
    
    @media screen and ( max-width: $tablet + px ) {
        padding: 50px 0;
    }

    .o-content {
        @extend %rel;
        
        &:after {
            @extend %abs;
            @extend %abs-after;
            right: 0;
            top: 0;
            z-index: -1;
            width: 100%;
            height: calc(100vh - 200px);
            background: {
                image: url(../img/bg/why.jpg);
                size: cover;
//                position: left top;
            }
        }
        
        
       // height: calc(100vh - 200px);
/*
        background: {
            image: url(../img/bg/why.jpg);
            size: auto 100%;
            position: left top;
        }
*/
        padding: {
            top: 100px;
            bottom: 100px;
        }
        
        @media screen and ( min-width: $tablet + px ) {
           // height: calc(100vh - 200px);
        }
        
        @media screen and ( max-width: $tablet_portrait + px ) {
            padding: 50px 40px;
            
            &__main {
                padding-right: 0;
            }
        }
        
    }
    
    .o-header {
        transform: translateY(20%);
    }
}
