
$c-blue:    #213379;
$c-blue2:   #27323d;

$c-brown:   #c38d73;
$c-brown2:  #d6b4a5;
$c-brown3:  #6e553e;

$c-gray1:   #f0f0f0;
$c-gray2:   #727272;
$c-gray3:   #e8e4e0;
$c-gray4:   #c6cad7;
