<!DOCTYPE html>
<html lang="pl-PL">
<%= require('html-loader!./includes/head.html') %>

<body style="overflow: hidden" itemscope="itemscope" itemtype="https://schema.org/WebPage">

    <div class="mk" style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 2002; background-image: url(img/logo-kapinski--sign.svg); background-repeat: no-repeat; background-position: center; background-size: 62px 62px" id="mk"></div>
    
    <div style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 120; background-color: white;" id="cover"></div>

    <%= require('html-loader!./includes/logo__navbar.html') %>
    
	<div itemprop="mainContentOfPage" role="main" class="o-container">

        <div class="c-top c-top--home">
            <div class="c-top__content js-fullHeight bcg-parallax">
            
                <nav class="c-nav c-nav--top">
                    <%= require('html-loader!./includes/nav.html') %>
                </nav>
                
                <div class="c-top__header">
                    <h1 class="anim anim--upslow">
                        <span class="line"><span class="typing typing--1">Kancelaria prawna</span></span>
                        <span class="line"><span class="typing typing--2"><span class="highlight">dla biznesu</span>, którą chcesz</span></span>
                        <span class="line"><span class="typing typing--3">mieć po swojej stronie</span>
                        
                        <span class="c-top__intro anim">
                            Zajmujemy się pełną obsługą prawną,
                            rozwiązywaniem problemów, z którymi
                            może spotkać mały i duży biznes.
                        </span>
                        </span>
                    </h1>                    
                    
                    <a href="#" class="o-btn no-wrap anim anim--upslow js-contact"><span>Wypróbuj nas</span></a>
                </div>
                
                <div class="bcg"></div>
            </div>
        </div>


        <div class="o-section c-practices js-nextSection">
            <div class="o-wrap">
            
                <div class="o-content">
                    
                    <aside class="o-content__sidebar o-content__sidebar--wide">
                        <header class="o-header anim anim--left">
                            <h2 class="o-header__lead">
                                Obszary praktyk,<br>
                                w których się<br>
                                
                                <span class="link link--kukuri" href="#" data-letters="specjalizujemy">specjalizujemy</span>
                                
                            </h2>
                        </header>
                        
                        <div class="c-practices__info anim anim--left">
                            <article>
                                <p>
    Zajmujemy się pełną gamą sporów, z którymi może spotkać się przedsiębiorca, senior executive lub mały, średni lub duży biznes, a także podmioty indywiduane.
                                </p>
                            </article>
                            <a href="obszary-praktyk.html" class="o-btn no-wrap anim anim--upslow"><span>Poznaj nasze<br> obszary praktyk</span></a>
                        </div>
                    </aside>

 
                    <div class="o-content__main">
                        <div class="c-scroll c-scroll--practices" id="practices">
                    
                        <div class="c-scroll__nav">
                            <i class="icon-arrow-2--up js-practice--up"></i>
                            <i class="icon-arrow-2--down js-practice--down"></i>
                        </div>
                    
                        <div class="swiper-container js-practices">
                            <div class="swiper-wrapper">
                                    
                                    
                                <a href="obszary-praktyk--single.html" class="swiper-slide c-scroll__item anim anim--fadein">
                                    <h2 class="o-header__secondary">Spółki</h2>
                                    <p>Tworzenie, fuzje i przejęcia, przekształcanie, dokapitalizowanie, przygotowywanie i opiniowanie umów inwestycjnych</p>
                                </a>
                                
                                <a href="obszary-praktyk--single.html" class="swiper-slide c-scroll__item anim anim--fadein">
                                    <h2 class="o-header__secondary">Startup'y</h2>
                                    <p>Kompleksowa obsługa prawna startupów, sporządzanie, opiniowanie umów inwestycyjnych</p>
                                </a>
                                
                                <a href="obszary-praktyk--single.html" class="swiper-slide c-scroll__item anim anim--fadein">
                                    <h2 class="o-header__secondary">Nieruchomości</h2>
                                    <p>Obsługa transakcji na rynku nieruchomości, przygotowywanie, negocjowanie
        umów najmu, regulowanie stanów prawnych, dochodzenie odszkodowań z tyułu
        bezumownego korzystania</p>
                                </a>
                                
                                <a href="obszary-praktyk--single.html" class="swiper-slide c-scroll__item anim anim--fadein">
                                    <h2 class="o-header__secondary">Odszkodowania</h2>
                                    <p>Kompleksowa obsługa prawna startupów, sporządzanie, opiniowanie umów inwestycyjnych,</p>
                                </a>
                                
                                <a href="obszary-praktyk--single.html" class="swiper-slide c-scroll__item anim anim--fadein">
                                    <h2 class="o-header__secondary">Spółki</h2>
                                    <p>Tworzenie, fuzje i przejęcia, przekształcanie, dokapitalizowanie, przygotowywanie i opiniowanie umów inwestycjnych</p>
                                </a>
    
                                <a href="obszary-praktyk--single.html" class="swiper-slide c-scroll__item anim anim--fadein">
                                    <h2 class="o-header__secondary">Startup'y</h2>
                                    <p>Kompleksowa obsługa prawna startupów, sporządzanie, opiniowanie umów inwestycyjnych</p>
                                </a>
                                
                                <a href="obszary-praktyk--single.html" class="swiper-slide c-scroll__item anim anim--fadein">
                                    <h2 class="o-header__secondary">Nieruchomości</h2>
                                    <p>Obsługa transakcji na rynku nieruchomości, przygotowywanie, negocjowanie
        umów najmu, regulowanie stanów prawnych, dochodzenie odszkodowań z tyułu
        bezumownego korzystania</p>
                                </a>
                                
                                <a href="obszary-praktyk--single.html" class="swiper-slide c-scroll__item anim anim--fadein">
                                    <h2 class="o-header__secondary">Odszkodowania</h2>
                                    <p>Kompleksowa obsługa prawna startupów, sporządzanie, opiniowanie umów inwestycyjnych,</p>
                                </a>
                                
                                </div>
                            </div>
                        
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>


        <div class="o-section c-services">
            <div class="o-wrap o-wrap--indent bcg-parallax">
        
                <div class="o-content">
                    
                    <aside class="o-content__sidebar">
                        <header class="o-header anim anim--left">
                            <h2 class="o-header__lead">
                                Nasze usługi<br>                                
                                <span class="link link--kukuri" href="#" data-letters="kierujemy do">kierujemy do</span>
                            </h2>
                        </header>
                    </aside>


                    <div class="o-content__main">
                        <div class="c-clientstype anim anim--up">
                            <div class="c-clientstype__item anim anim--left anim--delay6">
                                <header class="c-clientstype__lead">
                                    <i class="icon-tie"></i>
                                    <h3 class="o-header__secondary">Klient<br> biznesowy</h3>
                                </header>
                                
                                <article>
                                    <p>
Zapewniamy kompleksową obsługę prawną dla podmiotów gospodarczych. Rozumiemy, że problemy biznesowe i spory mogą mieć poważne konsekwencje dla firm każdej wielkości. Koncentrujemy się na szybkim i skutecznym rozwiązywaniu tych problemów, aby nasi klienci mogli skupić jedynie na aspektach biznesowych swojej działalności.
                                    </p>
                                </article>
                            </div>
                            
                            <div class="c-clientstype__item anim anim--right anim--delay7">
                                <header class="c-clientstype__lead">
                                    <i class="icon-schoe"></i>
                                    <h3 class="o-header__secondary">Klient<br> indywidualny</h3>
                                </header>
                                
                                <article>
                                    <p>
Obsługujemy podmioty Nasza firma dokłada wszelkich starań,  aby proces prawny był jak najprostszy. Słuchamy twoich obaw i zapewniamy wsparcie i porady, których potrzebujesz na każdym kroku.
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="bcg"></div>
                </div><!-- /o-content -->
        
            </div>
        </div>


        <div class="c-why">
            <div class="o-wrap o-wrap--indent bcg-parallax">
        
                <div class="o-content">
                    <aside class="o-content__sidebar">
                        <header class="o-header anim anim--left">
                            <h2 class="o-header__lead">
                                Dlaczego klienci<br> 
                                wybierają naszą<br> 
                                <span class="link link--kukuri" href="#" data-letters="kancelarię?">kancelarię?</span>
                            </h2>
                        </header>
                    </aside>
 
                    <div class="o-content__main">
                        <div class="c-accordion anim anim--up" id="accordion">
                            
                            <div class="c-accordion__item u-shadows anim anim--scalein is-active">
                               <h3 class="o-header__secondary js-more">Nie marnujemy czasu ani pieniędzy naszych klientów <i></i></h3>
                               
                               <article class="c-accordion__content">
                                   <p>Wykorzystujemy przepisy, aby wspierać i zabezpieczać interesy Naych Klientów, aby mogli skupić się na tym, co robią najlepiej i co jest dla nich najważniejsze. Wierzymy, że prawo i metody rozwiązywania problemów prawnych są bardzo potężne i wykorzystują te narzędzia, aby wzmocnić pozycję naszych klientów. Oznacza to upewnienie się, że twoje umowy rzeczywiście ci pomogą.</p>
                               </article>
                            </div>
                           
                            <div class="c-accordion__item u-shadows anim anim--scalein">
                                <h3 class="o-header__secondary js-more">Młody zespół = nowoczesne podejście i rozwiązania <i></i></h3>
                               
                                <article class="c-accordion__content">
                                   <p>Wykorzystujemy przepisy, aby wspierać i zabezpieczać interesy Naych Klientów, aby mogli skupić się na tym, co robią najlepiej i co jest dla nich najważniejsze. Wierzymy, że prawo i metody rozwiązywania problemów prawnych są bardzo potężne i wykorzystują te narzędzia, aby wzmocnić pozycję naszych klientów. Oznacza to upewnienie się, że twoje umowy rzeczywiście ci pomogą.</p>
                                </article>
                            </div>
                            
                            <div class="c-accordion__item u-shadows anim anim--scalein">
                                <h3 class="o-header__secondary js-more">Zabezpieczamy interesy naszych klientów <i></i></h3>
                               
                                <article class="c-accordion__content">
                                   <p>Wykorzystujemy przepisy, aby wspierać i zabezpieczać interesy Naych Klientów, aby mogli skupić się na tym, co robią najlepiej i co jest dla nich najważniejsze. Wierzymy, że prawo i metody rozwiązywania problemów prawnych są bardzo potężne i wykorzystują te narzędzia, aby wzmocnić pozycję naszych klientów. Oznacza to upewnienie się, że twoje umowy rzeczywiście ci pomogą.</p>
                                </article>
                            </div>
                            
                            <div class="c-accordion__item u-shadows anim anim--scalein">
                                <h3 class="o-header__secondary js-more">Nie boimy się trudnych spraw <i class="js-more"></i></h3>
                               
                                <article class="c-accordion__content">
                                   <p>Wykorzystujemy przepisy, aby wspierać i zabezpieczać interesy Naych Klientów, aby mogli skupić się na tym, co robią najlepiej i co jest dla nich najważniejsze. Wierzymy, że prawo i metody rozwiązywania problemów prawnych są bardzo potężne i wykorzystują te narzędzia, aby wzmocnić pozycję naszych klientów. Oznacza to upewnienie się, że twoje umowy rzeczywiście ci pomogą.</p>
                                </article>
                            </div>
                        </div>                        
                    </div>

                    <div class="bcg"></div>
                </div><!-- /o-content -->
            </div>
        </div>


        <div class="o-section c-newposts">
            <div class="o-wrap o-wrap--indent bcg-parallax">
        
                <div class="o-content">
                    
                    <aside class="o-content__sidebar">
                        <header class="o-header anim anim--left">
                            <h2 class="o-header__lead">
                                Najnowsze artykuły<br>
                                <span class="link link--kukuri" href="#" data-letters="na naszym blogu">na naszym blogu</span>
                            </h2>
                        </header>
                    </aside>


                    <div class="o-content__main">                        
                    
                        <div class="c-posts anim anim--delay7 anim--right" id="posts">
                            <div class="c-posts__nav">
                                <i class="icon-arrow-2--left js-post--prev"></i>
                                <i class="icon-arrow-2--right js-post--next"></i>
                            </div>
                            
                            <div class="swiper-container swiper-horiz js-posts">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide c-posts__item u-shadows">
                                        <div class="o-header__secondary">Lorem ipsum dolor sit amet</div>
                                        <div class="c-posts__date">12 Stycznia 2018 r.</div>
                                        <article>
                                            <p>
        Donec eu elit et nisi consectetur auctor id quis urna. Vestibulum pulvinar est dui, interdum facilisis dui dignissim in. Proin varius ornare erat quis facilisis. Proin at nulla mi. Proin condimentum lacus ipsum, in euismod massa sollicitudin eu. Phasellus aliquet auctor dui, interdum placerat arcu porttitor non. Integer ultrices pellentesque ex, quis congue risus ullamcorper vel. Phasellus eget viverra nibh, ornare maximus turpis. Cras gravida mauris sed dui pharetra ultricies. Vestibulum tellus tortor, pharetra vehicula lectus eget, aliquam dictum quam. Vestibulum lacinia nibh nisl, quis aliquet nisi venenatis in.
                                            </p>
                                        </article>
                                        
                                        
                                        <div class="c-posts__more">
                                            <a href="blog--single.html">Czytaj więcej <i class="icon-arrow-2--right"></i></a>
                                        </div>
                                    </div>
                                    
                                    <div class="swiper-slide c-posts__item u-shadows">
                                        <div class="o-header__secondary">Lorem ipsum dolor sit amet</div>
                                        <div class="c-posts__date">12 Stycznia 2018 r.</div>
                                        <article>
                                            <p>
        Donec eu elit et nisi consectetur auctor id quis urna. Vestibulum pulvinar est dui, interdum facilisis dui dignissim in. Proin varius ornare erat quis facilisis. Proin at nulla mi. Proin condimentum lacus ipsum, in euismod massa sollicitudin eu. Phasellus aliquet auctor dui, interdum placerat arcu porttitor non. Integer ultrices pellentesque ex, quis congue risus ullamcorper vel. Phasellus eget viverra nibh, ornare maximus turpis. Cras gravida mauris sed dui pharetra ultricies. Vestibulum tellus tortor, pharetra vehicula lectus eget, aliquam dictum quam. Vestibulum lacinia nibh nisl, quis aliquet nisi venenatis in.
                                            </p>
                                        </article>
                                        
                                        
                                        <div class="c-posts__more">
                                            <a href="blog--single.html">Czytaj więcej <i class="icon-arrow-2--right"></i></a>
                                        </div>
                                    </div>

                                    <div class="swiper-slide c-posts__item u-shadows">
                                        <div class="o-header__secondary">Lorem ipsum dolor sit amet</div>
                                        <div class="c-posts__date">12 Stycznia 2018 r.</div>
                                        <article>
                                            <p>
        Donec eu elit et nisi consectetur auctor id quis urna. Vestibulum pulvinar est dui, interdum facilisis dui dignissim in. Proin varius ornare erat quis facilisis. Proin at nulla mi. Proin condimentum lacus ipsum, in euismod massa sollicitudin eu. Phasellus aliquet auctor dui, interdum placerat arcu porttitor non. Integer ultrices pellentesque ex, quis congue risus ullamcorper vel. Phasellus eget viverra nibh, ornare maximus turpis. Cras gravida mauris sed dui pharetra ultricies. Vestibulum tellus tortor, pharetra vehicula lectus eget, aliquam dictum quam. Vestibulum lacinia nibh nisl, quis aliquet nisi venenatis in.
                                            </p>
                                        </article>
                                        
                                        
                                        <div class="c-posts__more">
                                            <a href="blog--single.html">Czytaj więcej <i class="icon-arrow-2--right"></i></a>
                                        </div>
                                    </div>
                                    
                                    <div class="swiper-slide c-posts__item u-shadows">
                                        <div class="o-header__secondary">Lorem ipsum dolor sit amet</div>
                                        <div class="c-posts__date">12 Stycznia 2018 r.</div>
                                        <article>
                                            <p>
        Donec eu elit et nisi consectetur auctor id quis urna. Vestibulum pulvinar est dui, interdum facilisis dui dignissim in. Proin varius ornare erat quis facilisis. Proin at nulla mi. Proin condimentum lacus ipsum, in euismod massa sollicitudin eu. Phasellus aliquet auctor dui, interdum placerat arcu porttitor non. Integer ultrices pellentesque ex, quis congue risus ullamcorper vel. Phasellus eget viverra nibh, ornare maximus turpis. Cras gravida mauris sed dui pharetra ultricies. Vestibulum tellus tortor, pharetra vehicula lectus eget, aliquam dictum quam. Vestibulum lacinia nibh nisl, quis aliquet nisi venenatis in.
                                            </p>
                                        </article>
                                        
                                        
                                        <div class="c-posts__more">
                                            <a href="blog--single.html">Czytaj więcej <i class="icon-arrow-2--right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <div class="bcg"></div>
                </div><!-- /o-content -->
        
            </div>
        </div>


        <div class="o-section c-opinions">
            <%= require('html-loader!./includes/opinions.html') %>
        </div>


        <%= require('html-loader!./includes/contact.html') %>        
        <%= require('html-loader!./includes/footer.html') %>

	</div>


    <%= require('html-loader!./includes/contactapla.html') %>
    <%= require('html-loader!./includes/navmobile.html') %>


</body>
</html>
