<!DOCTYPE html>
<html lang="pl-PL">
<%= require('html-loader!./includes/head.html') %>

<body style="overflow: hidden" itemscope="itemscope" itemtype="https://schema.org/WebPage">

    <div class="mk" style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 2002; background-image: url(img/logo-kapinski--sign.svg); background-repeat: no-repeat; background-position: center; background-size: 62px 62px" id="mk"></div>

    <div style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 120; background-color: white;" id="cover"></div>

    <%= require('html-loader!./includes/logo__navbar.html') %>
    
	<div itemprop="mainContentOfPage" role="main" class="o-container">	    

        <div class="c-top c-top--about">
            <div class="c-top__content js-fullHeight">
            
                <nav class="c-nav c-nav--top">
                    <%= require('html-loader!./includes/nav.html') %>
                </nav>
                
                <div class="c-top__header">
                    <h1 class="anim anim--upslow">
                        <span class="line"><span class="typing typing--1">Kancelaria prawna</span></span>
                        <span class="line"><span class="typing typing--3"><span class="highlight">dla małego i dużego</span></span></span>
                        <span class="line"><span class="typing typing--3">biznesu</span>
                        
                            <span class="c-top__intro anim">
Niezależnie od tego, czy reprezentujesz start-up, rozwijający się biznes,
duże przedsiębiorstwo czy jesteś osobą, która chce stawiać pierwsze kroki
na rynku, nasza Kancelaria powstała po to, aby zaspokajać prawne potrzeby
nowoczesnych przedsiębiorstw i zabezpieczać prawnie ich tworzenie
                            </span>
                        </span>
                    </h1>
                </div>
                
                <div class="c-top__more anim anim--upslow">
                    <a href="#why" class="o-btn no-wrap js-goto"><span>więcej</span></a>
                </div>
            </div>
        </div>
        
        
        <div class="c-why" id="why">
            <div class="o-wrap o-wrap--indent bcg-parallax">
        
                <div class="o-content">
                    <aside class="o-content__sidebar">
                        <header class="o-header anim anim--left">
                            <h2 class="o-header__lead">
                                Dlaczego warto<br> 
                                <span class="link link--kukuri" href="#" data-letters="z nami pracować?">z nami pracować?</span>
                            </h2>
                        </header>
                    </aside>
 
                    <div class="o-content__main">
                        <div class="c-accordion anim anim--up" id="accordion">
                            
                            <div class="c-accordion__item u-shadows anim anim--scalein is-active">
                               <h3 class="o-header__secondary js-more">Nie marnujemy czasu ani pieniędzy naszych klientów <i></i></h3>
                               
                               <article class="c-accordion__content">
                                   <p>Wykorzystujemy przepisy, aby wspierać i zabezpieczać interesy Naych Klientów, aby mogli skupić się na tym, co robią najlepiej i co jest dla nich najważniejsze. Wierzymy, że prawo i metody rozwiązywania problemów prawnych są bardzo potężne i wykorzystują te narzędzia, aby wzmocnić pozycję naszych klientów. Oznacza to upewnienie się, że twoje umowy rzeczywiście ci pomogą.</p>
                               </article>
                            </div>
                           
                            <div class="c-accordion__item u-shadows anim anim--scalein">
                                <h3 class="o-header__secondary js-more">Młody zespół = nowoczesne podejście i rozwiązania <i></i></h3>
                               
                                <article class="c-accordion__content">
                                   <p>Wykorzystujemy przepisy, aby wspierać i zabezpieczać interesy Naych Klientów, aby mogli skupić się na tym, co robią najlepiej i co jest dla nich najważniejsze. Wierzymy, że prawo i metody rozwiązywania problemów prawnych są bardzo potężne i wykorzystują te narzędzia, aby wzmocnić pozycję naszych klientów. Oznacza to upewnienie się, że twoje umowy rzeczywiście ci pomogą.</p>
                                </article>
                            </div>
                            
                            <div class="c-accordion__item u-shadows anim anim--scalein">
                                <h3 class="o-header__secondary js-more">Zabezpieczamy interesy naszych klientów <i></i></h3>
                               
                                <article class="c-accordion__content">
                                   <p>Wykorzystujemy przepisy, aby wspierać i zabezpieczać interesy Naych Klientów, aby mogli skupić się na tym, co robią najlepiej i co jest dla nich najważniejsze. Wierzymy, że prawo i metody rozwiązywania problemów prawnych są bardzo potężne i wykorzystują te narzędzia, aby wzmocnić pozycję naszych klientów. Oznacza to upewnienie się, że twoje umowy rzeczywiście ci pomogą.</p>
                                </article>
                            </div>
                            
                            <div class="c-accordion__item u-shadows anim anim--scalein">
                                <h3 class="o-header__secondary js-more">Nie boimy się trudnych spraw <i class="js-more"></i></h3>
                               
                                <article class="c-accordion__content">
                                   <p>Wykorzystujemy przepisy, aby wspierać i zabezpieczać interesy Naych Klientów, aby mogli skupić się na tym, co robią najlepiej i co jest dla nich najważniejsze. Wierzymy, że prawo i metody rozwiązywania problemów prawnych są bardzo potężne i wykorzystują te narzędzia, aby wzmocnić pozycję naszych klientów. Oznacza to upewnienie się, że twoje umowy rzeczywiście ci pomogą.</p>
                                </article>
                            </div>
                        </div>                        
                    </div>

                    <div class="bcg"></div>
                </div><!-- /o-content -->
        
            </div>
        </div>
        

        <div class="c-business">
            <div class="o-wrap o-wrap--indent bcg-parallax">
        
                <div class="o-content">
                    <aside class="o-content__sidebar">
                        <header class="o-header anim anim--left">
                            <h2 class="o-header__lead">
                                Zabezpieczymy<br>
                                <span class="link link--kukuri" href="#" data-letters="Twój biznes">Twój biznes</span>
                            </h2>
                        </header>
                    </aside>
 
                    <div class="o-content__main">
                        <div class="c-business__content">
                            <h3 class="c-business__lead">
                                Nasza Kancelaria może zaoferować pomoc<br>
                                w wielu aspektach Twojej działalności,<br>
                                takich jak:
                            </h3>

                            <article class="c-article">
                                <ul class="u-cols">
                                    <li>
    Negocjowanie umów, porozumień i pośredniczenie przy ich
    zawieraniu (m.in. umowy sprzedaży, franchisingu, pośrednictwa,
    współpracy, leasingu, dostawy)
                                    </li>
                                    
                                    <li>
    Obsługa inwestycji budowlanych
                                    </li>
    
                                    <li>
    Obsługa sporów pomiędzy inwestorami a wykonawcami
                                    </li>
                                    
                                    <li>
    Dochodzenie roszczeń wykonawców od generalnych 
    wykonawców i inwestorów  
                                    </li>
    
                                    <li>
    Kompleksowa obsługa transakcji zbycia i nabycia nieruchomości
                                    </li>
                                    
                                    <li>
    Rozwiązywanie sporów pomiędzy właścicielami nieruchomości 
    a najemcami
                                    </li>
                                    
                                    <li>
    Umowy dotyczące nieruchomości 
                                    </li>
                                    
                                    <li>
    Regulacje stanów prawnych nieruchomości - spory dotyczące
    nieruchomości i procesy sądowe
                                    </li>
                                    
                                    <li>
                                    Ochrona majątku firmy 
                                    </li>
    
<!--
                                    <li>
    Windykacja należności 
                                    </li>
    
                                    <li>
    Zabezpieczenia wierzytelności 
                                    </li>
    
                                    <li>
    Wybór i tworzenie form prowadzenia działalności
                                    </li>
                                    
                                    <li>
    Ogólne doradztwo biznesowe
                                    </li>
                                    
                                    <li>
    Badanie zgodności z przepisami 
                                    </li>
    
                                    <li>
    Obsługa przekształceń podmiotowych, tworzenie spółek
                                    </li>
                                    
                                    <li>
    Obsługa fuzji i przejęć 
                                    </li>
    
                                    <li>
    Analiza przedsiębiorstw (Due diligence) 
                                    </li>
    
                                    <li>
    Spory sądowe i arbitraż
                                    </li>
-->
                                </ul>
                                
                                <p>
                                    <a href="#" class="o-btn no-wrap js-goto"><span>Zobacz więcej</span></a>
                                </p>
                            </article>
                        </div>
                    </div>
                    
                    <div class="bcg"></div>
                </div><!-- /o-content -->
        
            </div>
        </div>
        
        
        <div class="o-section c-industries">
            <div class="o-wrap o-wrap--indent">
        
                <div class="o-content">
                    
                    <aside class="o-content__sidebar">
                        <header class="o-header anim anim--left">
                            <h2 class="o-header__lead">
                                Branże, w jakich<br>
                                <span class="link link--kukuri" href="#" data-letters="działają nasi Klienci">działają nasi Klienci</span>
                            </h2>
                        </header>
                    </aside>

 
                    <div class="o-content__main">
                        <div class="c-industries__content">
                            <div class="c-industries__col">
                                <div class="c-industries__lead">
                                    <p>
Nasza Kancelaria posiada doświadczenie w reprezentowaniu klientów we wszystkich rodzajach spraw związanych z biznesem. Jesteśmy w stanie zapewnić kompleksowe doradztwo prawne firmom praktycznie z każdej branży, w tym:
                                    </p>
                                </div>
                                
                                <dl>
                                    <dt>
                                        <i class="icon-agriculture"></i>
                                    </dt>
                                    <dd>Żywność i rolnictwo</dd>
                                </dl>
                                
                                <dl>
                                    <dt>
                                        <i class="icon-production"></i>
                                    </dt>
                                    <dd>Produkcja</dd>
                                </dl>
                                
                                <dl>
                                    <dt>
                                        <i class="icon-technology"></i>
                                    </dt>
                                    <dd>Technologia</dd>
                                </dl>
                                
                                <dl>
                                    <dt>
                                        <i class="icon-transport"></i>
                                    </dt>
                                    <dd>Transport</dd>
                                </dl>
                            </div>
                            
                            
                            <div class="c-industries__col">                                
                                <dl>
                                    <dt>
                                        <i class="icon-finance"></i>
                                    </dt>
                                    <dd>Bankowość i finanse</dd>
                                </dl>
                                
                                <dl>
                                    <dt>
                                        <i class="icon-buildings"></i>
                                    </dt>
                                    <dd>Budownictwo i Nieruchomości</dd>
                                </dl>
                                
                                <dl>
                                    <dt>
                                        <i class="icon-chemistry"></i>
                                    </dt>
                                    <dd>Chemikalia</dd>
                                </dl>
                                
                                <dl>
                                    <dt>
                                        <i class="icon-products"></i>
                                    </dt>
                                    <dd>Produkty konsumenckie</dd>
                                </dl>
                                
                                <dl>
                                    <dt>
                                        <i class="icon-energy"></i>
                                    </dt>
                                    <dd>Energia</dd>
                                </dl>
                            </div>
                        </div>
                        
                    </div>
                </div>
        
            </div>

        </div>
       
               
        <div class="c-opinions c-opinions--bg u-nomargin">
            <%= require('html-loader!./includes/opinions.html') %>
        </div>


        <div class="c-about">
            <div class="c-team">
                <div class="o-wrap">
        
                    <div class="o-content">
                        
                        <aside class="o-content__sidebar">
                            <header class="o-header">
                                <h2 class="o-header__lead">
                                    Zespół
                                </h2>
                            </header>
                        </aside>
    
     
                        <div class="o-content__main">
                            <ul class="c-team__members">
                                <li class="c-team__member c-team__member--primary">
                                    <div class="c-article">
                                        <figure>
                                            <img src=<%= require("./img/team/kapinski.jpg") %> alt="kapinski" width="343" height="344">
                                            <figcaption>
                                                <p>Marcin Kapiński</p>
                                                <p>President, Radca Prawny</p>
                                            </figcaption>
                                        </figure>
                                        
                                        <p>
        Założycielem Kancelarii jest radca prawny Marcin Kapiński, który dzięki własnym doświadczeniom w biznesie i wieloletniej praktyce w reprezentacji przedsiębiorców dostrzegł potrzebę stworzenia Kancelarii, która będzie w stanie zapewnić przedsiębiorcy kompleksową obsługę najwyższej jakości, nowoczesne narzędzia i dostęp do ekspertów z wybranych dziedzin.
                                        </p>                                        
                                        
                                        <p>
        Donec eu elit et nisi consectetur auctor id quis urna. Vestibulum pulvinar est dui, interdum facilisis dui dignissim in. Proin varius ornare erat quis facilisis. Proin at nulla mi. Proin condimentum lacus ipsum, in euismod massa sollicitudin eu.  Phasellus aliquet auctor dui, interdum placerat arcu porttitor non. Integer ultrices pellentesque.  ex, quis congue risus ullamcorper vel. Phasellus eget viverra nibh, ornare maximus turpis. Cras gravida mauris sed dui pharetra ultricies. Vestibulum tellus tortor, pharetra vehicula lectus eget, aliquam dictum quam. 
                                        </p>
                                        
                                        <p>
        Vestibulum lacinia nibh nisl, quis aliquet nisi venenatis in. Donec eu elit et nisi consectetur auctor id quis urna. Vestibulum pulvinar est dui, interdum facilisis dui dignissim in. Proin varius ornare erat quis facilisis. Proin at nulla mi. Proin condimentum lacus ipsum, in euismod massa sollicitudin eu. Phasellus aliquet auctor dui, interdum placerat arcu porttitor non. Vestibulum pulvinar est dui, interdum facilisis dui dignissim in. Proin varius ornare erat quis facilisis. Proin at nulla mi.
        Proin condimentum lacus ipsum, in euismod massa sollicitudin eu. Phasellus aliquet auctor dui, interdum placerat arcu porttitor non.
                                        </p>    
                                    
                                    </div>
                                </li>
                                
                                <li class="c-team__member">
                                    <div class="c-article">
                                        <figure>
                                            <img src=<%= require("./img/team/sliwinski.jpg") %> alt="sliwinski" width="187" height="187">
                                            <figcaption>
                                                <p>Kamil Śliwiński</p>
                                                <p>Radca Prawny</p>
                                            </figcaption>
                                        </figure>
                                        
                                        <p>
        Założycielem Kancelarii jest radca prawny Marcin Kapiński, który dzięki własnym doświadczeniom w biznesie i wieloletniej praktyce w reprezentacji przedsiębiorców dostrzegł potrzebę stworzenia Kancelarii, która będzie w stanie zapewnić przedsiębiorcy kompleksową obsługę najwyższej jakości, nowoczesne narzędzia i dostęp do ekspertów z wybranych dziedzin.
                                        </p>
                                        <p>
Donec eu elit et nisi consectetur auctor id quis urna. Vestibulum pulvinar est dui, interdum facilisis dui dignissim in. Proin varius ornare erat quis facilisis. Proin at nulla mi. Proin condimentum lacus ipsum, in euismod massa sollicitudin eu.  Phasellus aliquet auctor dui, interdum placerat arcu porttitor non. Integer ultrices pellentesque.  ex, quis congue risus ullamcorper vel. Phasellus eget viverra nibh, ornare maximus turpis. Cras gravida mauris sed dui pharetra ultricies. Vestibulum tellus tortor, pharetra vehicula lectus eget, aliquam dictum quam. Vestibulum lacinia nibh nisl, quis aliquet nisi venenatis in. Donec eu elit et nisi consectetur auctor id quis urna. Vestibulum pulvinar est dui, interdum facilisis dui dignissim in. Proin varius ornare erat quis facilisis. Proin at nulla mi. Proin condimentum lacus ipsum, in euismod massa sollicitudin eu.
                                        </p>
                                    </div>
                                </li>
                                
                                <li class="c-team__member">
                                    <div class="c-article">
                                        <figure>
                                            <img src=<%= require("./img/team/sliwinski.jpg") %> alt="sliwinski" width="187" height="187">
                                            <figcaption>
                                                <p>Kamil Śliwiński</p>
                                                <p>Radca Prawny</p>
                                            </figcaption>
                                        </figure>
                                        
                                        <p>
        Założycielem Kancelarii jest radca prawny Marcin Kapiński, który dzięki własnym doświadczeniom w biznesie i wieloletniej praktyce w reprezentacji przedsiębiorców dostrzegł potrzebę stworzenia Kancelarii, która będzie w stanie zapewnić przedsiębiorcy kompleksową obsługę najwyższej jakości, nowoczesne narzędzia i dostęp do ekspertów z wybranych dziedzin.
                                        </p>
                                        <p>
Donec eu elit et nisi consectetur auctor id quis urna. Vestibulum pulvinar est dui, interdum facilisis dui dignissim in. Proin varius ornare erat quis facilisis. Proin at nulla mi. Proin condimentum lacus ipsum, in euismod massa sollicitudin eu.  Phasellus aliquet auctor dui, interdum placerat arcu porttitor non. Integer ultrices pellentesque.  ex, quis congue risus ullamcorper vel. Phasellus eget viverra nibh, ornare maximus turpis. Cras gravida mauris sed dui pharetra ultricies. Vestibulum tellus tortor, pharetra vehicula lectus eget, aliquam dictum quam. Vestibulum lacinia nibh nisl, quis aliquet nisi venenatis in. Donec eu elit et nisi consectetur auctor id quis urna. Vestibulum pulvinar est dui, interdum facilisis dui dignissim in. Proin varius ornare erat quis facilisis. Proin at nulla mi. Proin condimentum lacus ipsum, in euismod massa sollicitudin eu.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
            
                </div>

            </div>
            
            <div class="o-section o-section--autoheight c-facilities">
                <div class="o-wrap">
                
                    <header class="o-header anim anim--left">
                        <h2 class="o-header__lead">
                            Zaplecze Grupy<br>
                            <span class="link link--kukuri" href="#" data-letters="Doświadczonych Ekspertów">Doświadczonych Ekspertów</span>
                        </h2>
                    </header>
        
                    <div class="o-content">

                        <div class="o-content__main">
                            <div class="c-facilities__content">
                            
                                <div class="c-facilities__intro">
                                    <p>
Nasza Kancelaria ściśle współpracuje z doradcami finansowymi i podatkowymi, bankowcami i księgowymi aby zapewnić przydatne i praktyczne porady, które pomogą firmom zarządzać ryzykiem i maksymalizować zyski. 
                                    </p>
                                </div>
                            
                                <div class="c-facilities__columns">
                                    <div>
                                        <h4 class="c-facilities__lead">Kancelaria KPNP</h4>
                                        
                                        <p>
Na co dzień nasza Kancelaria współpracuje z zespołem Kancelarii prawnej KPNP Pieczonka Nowacki Pietrzak, dzięki czemu jesteśmy w stanie podjąć się rozwiązania najbardziej skomplikowanych sporów korzystając z wiedzy i doświadczenia najlepszych praktyków prawa z wieloletnim i wszechstronnym doświadczeniem.
                                        </p>
                                                                                
                                        <p>
                                            <img src=<%= require("./img/logo-kpnp.svg") %> alt="kpnp" width="373" height="64">
                                        </p>
                                    </div>
                                    
                                    <div>
                                        <h4 class="c-facilities__lead">Przestępstwa gospodarcze</h4>
                                        
                                        <p>
Nasza kancelaria współpracuje także z kancelarią adwokacką Wojtyła Kokoszka Adwokaci dzięki czemu jesteśmy w stanie zapewnić naszym klientom skuteczne wsparcie w sprawach karnych gospodarczych.
                                        </p>
                                        
                                        <p>&nbsp;</p>
                                        
                                        <h4 class="c-facilities__lead">Zapewniamy dobrą współpracę</h4>
                                        
                                        <p>
Oprócz zaplecza doświadczonych prawników i specjalistów, oferujemy dyspozycyjny i przyjazny zespół, który zawsze ma na uwadze potrzeby naszych klientów.
                                        </p>

                                        <p>
Jeśli szukasz nowoczesnych prawników którzy rozumieją biznes – jesteśmy gotowi do reprezentowania Ciebie i Twojej firmy.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <%= require('html-loader!./includes/contact.html') %>        
        <%= require('html-loader!./includes/footer.html') %>

	</div>
	
	
	<%= require('html-loader!./includes/contactapla.html') %>
	<%= require('html-loader!./includes/navmobile.html') %>

</body>
</html>
